body {
    background: #000;
    color: #0F0;
    font-size: 12px;
    font-family: 'Source Code Pro', sans-serif;
    overflow: hidden;
    /*font-family: monospace;*/
}

.debug {
	right: 30px;
	top: 30px;
	position: fixed;
	color: #0F0;
}